BasedOnStyle: WebKit
AlignConsecutiveMacros: AcrossEmptyLines
DerivePointerAlignment: true
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    true
BreakBeforeBraces: Custom
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: Never