debug
release
NUSspli.elf
NUSSpli.rpx
TODO.txt
arm_kernel/arm_kernel.bin
arm_kernel/arm_kernel.elf
arm_kernel/arm_kernel_bin.h
arm_kernel/output.map
arm_kernel/build/crt0.d
arm_kernel/build/crt0.o
arm_kernel/build/main.d
arm_kernel/build/main.o
arm_kernel/build/utils.d
arm_kernel/build/utils.o
arm_user/arm_user.bin
arm_user/arm_user.elf
arm_user/arm_user_bin.h
arm_user/output.map
arm_user/build/crt0.d
arm_user/build/crt0.o
arm_user/build/main.d
arm_user/build/main.o
arm_user/build/utils.d
arm_user/build/utils.o
