[submodule "src/cJSON"]
	path = src/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "libgui"]
	path = libgui
	url = https://github.com/wiiu-env/libgui.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
